* {
  margin: 0;
  padding: 0; }

header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: #FFF;
  text-decoration: none; }
  header a {
    text-decoration: none;
    padding: 1rem;
    font-size: 1 ren; }

.rectanguloIndex {
  height: 715px;
  width: 25%;
  background: #CDACA2;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.headerCarta {
  background-image: url(../images/portadacarta1.png);
  height: 26rem;
  background-position: center;
  background-size: cover; }

.headerNosotros {
  background-image: url(../images/portadanosotros.png);
  height: 26rem;
  background-position: bottom;
  background-size: cover; }

.headerContacto {
  background-image: url(../images/portadacontacto2.png);
  height: 26rem;
  background-position: center;
  background-size: cover; }

.headerSucursales {
  background-image: url(../images/portadasucursales1.png);
  height: 26rem;
  background-position: center;
  background-size: cover; }

.titulosSitios {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.9rem;
  top: 20rem;
  left: 0;
  right: 0;
  position: absolute; }

.estiloImagen {
  position: absolute;
  top: 5rem;
  right: 10rem; }

.tituloIndex {
  position: absolute;
  top: 14rem;
  right: 32rem;
  font-family: 'Zeyada', cursive;
  font-size: 4.3rem; }

.tituloIndex2 {
  position: absolute;
  top: 17.5rem;
  right: 35rem;
  font-family: 'Zeyada', cursive;
  font-size: 4.3rem; }

.textIndex1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 4rem; }

.textIndex2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 5rem; }

.textIndex {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #a18e89;
  text-align: center;
  margin-top: 2rem;
  margin-right: 7rem;
  margin-left: 7rem; }

.textIndex3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: #a18e89;
  text-align: center; }

.contenedorGrid1 {
  margin-left: 6.5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 23rem);
  gap: 1rem;
  grid-template-areas: ". . ." ". . ."; }

.estiloImagenesGrid {
  width: 23rem;
  height: 16rem; }

.estiloImagenesGrid:hover {
  transform: scale(1.1); }

.contenedorGrid2 {
  margin-left: 6.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". . . ." ". . . ." ". . . .";
  gap: 2rem; }

.estiloImagenesGrid2 {
  width: 10rem;
  height: 10rem; }

.indexBox {
  display: flex;
  justify-content: center;
  align-items: center; }

.mainContainer p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  top: 50%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 3rem; }
  @media all and (max-width: 768px) {
    .mainContainer p {
      font-size: 1rem; } }
  .mainContainer p.animacionTextoIndex {
    animation-duration: 2s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 20%;
    width: 100%; } }

.textoNosotros {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000;
  text-align: center; }

.nosotrosBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5rem; }

.nosotrosBoxTextos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem; }

.textos {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000; }
  @media all and (max-width: 768px) {
    .textos {
      font-size: 1rem; } }

.titulos {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: 'Oswald', sans-serif;
  color: #000;
  text-align: center; }

.titulosSucursales {
  font-weight: bold;
  font-size: 1.7rem;
  font-family: 'Oswald', sans-serif;
  color: #000;
  text-align: center;
  margin: 4rem 1.5rem 4rem 1.5rem;
  transition: width 2s, height 2s, transform 2s; }
  @media all and (max-width: 768px) {
    .titulosSucursales {
      font-size: 2rem;
      top: 60%; } }

.sucursales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }

.formulario {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background-color: #9cb35aed;
  height: 10rem;
  width: 100%;
  background-position: bottom;
  margin-top: 3rem; }
  footer .redes {
    list-style: none;
    text-align: left; }
    footer .redes li {
      display: inline-block;
      margin: 0.8rem; }
    footer .redes a {
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      color: #FFF; }
