@import "variables";
@import "tools";
*{
	margin: 0;
	padding: 0;
}
header {
	 font-family: 'Oswald', sans-serif;
 	 font-size: 1.3rem;
 	 color: #FFF ;
 	 text-decoration: none; 
	a{  
		text-decoration: none; 
		padding: 1rem;
		font-size: 1 ren;
	}
}
/*empieza INDEX*/
.rectanguloIndex{
	height: 715px;
	width: 25%;
	background: $paleta1;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;	
}
.estiloImagen{
	position: absolute;
	top: 8.5rem;
	right: 10rem;
}
.tituloIndex{
	position: absolute;
	top: 16rem;
	right: 32rem;
	font-family: 'Zeyada', cursive;
	font-size: 4.3rem;
}
.tituloIndex2{
	position: absolute;
	top: 19.5rem;
	right: 35rem;
	font-family: 'Zeyada', cursive;
	font-size: 4.3rem;
}
.tituloIndex3{
	position: absolute;
	top: 35rem;
	right: 45rem;
	font-family: 'Oswald', sans-serif;
	color: #000;
	letter-spacing: 0.15rem;
	font-size: 1.3rem;
}
.tituloIndex4{
	position: absolute;
	top: 38rem;
	right: 40rem;
	font-family: 'Oswald', sans-serif;
	color: #000;
	letter-spacing: 0.15rem;
	font-size: 1.3rem;
}
.textIndex1{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 4rem;
  }
  .textIndex2{
	font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 5rem;
  }
.textIndex{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color:  $paleta2;
  text-align: center;
 	margin-top: 2rem;
  margin-right: 7rem;
  margin-left: 7rem;
}
.textIndex3{
	font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: $paleta2;
  text-align: center;
  }
.textos{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 1rem;
	color: #000;
}
.textos2{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 4rem;
	color: #000;
}
.contenedorGrid1{
	margin-left: 6.5rem;
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 23rem);
	gap: 1rem;
	grid-template-areas: 	". . ."
	". . .";
}
.estiloImagenesGrid{
 width: 23rem;
 height: 16rem;
}
.estiloImagenesGrid:hover{
	transform: scale(1.1);
}
.contenedorGrid2{
	margin-left: 6.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 	". . . ."
		". . . ."
		;
	gap: 1.5rem;
	justify-content: center;
}
.contenedorGrid2 button{
	margin-left: 1.2rem;
}
.estiloImagenesGrid2{
 width: 10rem;
 height: 10rem;
}
/*Termina index*/
/*Empieza CONTACTO*/
.rectangulo {
	height: 15rem;
	width: 60%;
	background: $paleta1;
	position: absolute;
	}
.formulario{
	position: relative;
	width: 50%;
	margin-top: 22rem;
	margin-left: 2rem;
}
.tituloContacto{
		font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 18rem;
  margin-left: 2rem;
  position: absolute;
}
.circulo{
	margin-left: 10rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: $paleta1;
  position: absolute;
}
.circulo:hover{
	transform: scale(1.1);
}
.circulo img{
	width: 80px;
	height: 80px;
	margin-left: 10rem;
}
.textoContacto{
	font-family: 'Zeyada', cursive; 
	font-weight: 300;
	font-size: 3.2rem;
	color: #000;
	margin-top: 5rem;
	margin-left: 7.8rem;
}
.textoContacto2{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 2rem;
	color: #000;
	margin-top: 3rem;
	margin-left: 7.8rem;
}
/*Termina contacto*/
/*Empieza sucursales*/
.tituloSucursales{
	font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #FFF;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 5.5rem;
  margin-left: 4rem;
  position: absolute;
}
.imagenPortadaSucursales{
	width: 40%;

}
.tituloSucursales2{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 20rem;
  animation-duration: 3s;
  animation-name: slidein;
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
}
 .textSucursales{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  padding: 1rem;
  }
.rectanguloSucursales{
  background-color: $paleta3;
	height: 4rem;
	width: 60%;
	margin-top: 3rem;
}
.estilosIframes{
 	margin-left: 13rem !important;
 	margin-top: 3rem;
}
.rectanguloSucursales2{
  background: $paleta1;
	height: 4rem;
	width: 40%;
	margin-top: 45rem;
	position: absolute;
	background-position: left;
 }
.triangulo{
  	 width: 0;
     height: 0;
     border-right: 200px solid  $paleta1;
     border-top: 200px solid transparent;
     border-left: 200px solid transparent;
     border-bottom: 200px solid  $paleta1;
    margin-top: 3rem;  
 }
/*Termina sucursales*/
/*Empieza nosotros*/
.textNosotros1{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 20rem;
  margin-left: 20rem;
  position: absolute;
  }
.tituloNosotros{
	position: absolute;
	margin-top: 22rem;
	margin-left: 22rem;
	font-family: 'Zeyada', cursive;
	font-size: 4rem;
}
.textNosotros{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  $paleta2;
  text-align: center;
 	margin-top: 25rem;
  margin-left: 2rem;
  margin-right: 30rem;
  padding-top: 1rem;
}
.textNosotros2{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  text-align: left;
 	margin-top: 9rem;
  margin-left: 30rem;
  margin-right: 2rem;
  padding-top: 1rem;
  position: absolute;
}
.imagenNosotros{
  	padding-left: 4rem;
  	position: absolute;
  	margin-top: 5rem;
  	transition: 1s;
 		&:hover{
		 	transform: rotate(360deg);
 			 }
  @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
  }  
.recuadroNosotros{
 	border: 7px solid $paleta2;
 	width: 70%;
 	height: 14rem;
 	margin-top: 34rem;
 	margin-right: 15%;
 	margin-left: 15%;
 }
.textoRecuadro{
 	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  padding: 2rem;
  text-align: center;
 }
iframe{
 	margin-top: 3rem;
 }
/*Termina nosotros*/
/*Empieza carta*/
.tituloCarta1{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  letter-spacing: 0.15rem;
  margin-top: 20rem;
  margin-left: 3rem; 
}
.tituloCarta2{
	font-family: 'Zeyada', cursive;
  font-size: 5rem;
  color:  #000;
  letter-spacing: 0.15rem;
  margin-left: 5rem;  
}
.ensalada1{
	width: 150px;
	height: 162px;
}
.ensaladaTitulo{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: $paleta3;
  letter-spacing: 0.15rem;
}
.ingredientes{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: #000;
}
/*Termina carta*/
/*Empieza footer*/
footer{
	background-color: $paleta3;
	height: 13rem;
	width: 100%;
	display: inline-block;
  h1{
	font-family: 'Oswald', sans-serif;
  font-size: 1.7rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: left;
  margin-top: 6rem;
  margin-left: 5rem;
  position: absolute;
}
	h2{
	font-family:'Oswald', sans-serif;
	color: #000;
	font-size: 1.2rem;
	text-align: right;
	margin-right: 8rem;
}
.redes{
	list-style: none;
	text-align: right;
	color: #FFF;
	font-size: 1.2rem;
	li{
	display: inline-block;
	margin: 0.8rem;
	a{
 	text-decoration: none;
 	font-family:'Oswald', sans-serif;
  color: #FFF;
}
}
}
img{
	width: 135px;
	height: 89.7px;
	margin-top: 2rem;
}
}
.footerMargin{
	margin-top: 10rem;
}
.footerMarginContacto{
	margin-top: 33rem;
}
@media all and (max-width: $point-md){
	header a{ 
		display: flex;
		flex-direction: column;
		font-size: 1rem;
	}
	.rectanguloIndex{
		height: 200px;
	}
	.estiloImagen{
		width: 300px;
		height: 200.1px;
		margin-right: 3rem;
	}
	.textIndex{
		font-size: 1rem;
	}
	p{
		font-size: 1rem;
	}
	}
 