@import "variables";
@import "tools";
*{
	margin: 0;
	padding: 0;
}
header {
	font-family: 'Oswald', sans-serif; 
	font-weight: 400;
	font-size: 1.5rem;
	color: $header-footer-color !important;
	text-decoration: none;
	a{
		&:hover,
		&:focus{
			background-color: $header-footer-color;
 			color: #000;
		}

	}
}
	.headerIndex{
		background-image: url(../images/portada.png);
		height: 30rem;
		background-position: center;
		background-size: cover;
	}
	.headerCarta {
		background-image: url(../images/portadacarta1.png);
		height: 26rem;
		background-position: center;
		background-size: cover;
    }
    .headerNosotros {
		background-image: url(../images/portadanosotros.png);
		height: 26rem;
		background-position: bottom;
		background-size: cover;
	}
	.headerContacto {
		background-image: url(../images/portadacontacto2.png);
		height: 26rem;
		background-position: center;
		background-size: cover;
	}
	.headerSucursales{
		background-image: url(../images/portadasucursales1.png);
		height: 26rem;
		background-position: center;
		background-size: cover;
}
	
	.titulosSitios{
 		color: #FFF;
	    font-family: 'Oswald', sans-serif;
	    font-weight: bold;
	    text-align: center;
	    font-size: 2.9rem;
	    top: 20rem;
	    left: 0;
	    right: 0;
	    position: absolute;
}
.tituloIndex{
		color: $header-footer-color;
	    font-family: 'Zeyada', cursive;
	    font-weight: bold;
	    text-align: center;
	    font-size: 4.3rem;
	    top: 20rem;
	    left: 0;
	    right: 0;
	    position: absolute;
		    @media all and ( max-width: $point-md ){
		    	font-size: map-get($map,l);
				top: 60%;
			}
 }
 .indexBox{
	 	display: flex;
	    justify-content: center;
	    align-items: center;
 }
 .mainContainer{
 	p{
 		font-family: 'Oswald', sans-serif; 
		font-weight: 300;
		font-size: 1.5rem;
		color: $mainColor;
		text-align: center;
		top: 50%;
		margin-right: 20%;
		margin-left: 20%;
		margin-top: 3rem;
			@media all and (max-width: $point-md){
	    	font-size: map-get($map,s);
	    	}
				&.animacionTextoIndex{
					animation-duration: 2s;
					animation-name: slidein;
				}
					@keyframes slidein {
						from {
						margin-left: 100%;
						width: 300%;
						}
						to {
						margin-left: 20%;
						width: 100%;
						}
						}
				}
}
 	.filaImagenesIndex{
 		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.estiloImagenes{
			@extend.filaImagenesIndex;
			height: 300px;
		width: 400px;
		border-radius: 2%;
		position: static;
		background-position: center;
		margin: 5rem;
		transition: all 200ms ease-in-out;
		&:hover{
			transform: scale(1.1);
		}
		}
 }
	.textoNosotros{
		font-family: 'Oswald', sans-serif; 
		font-weight: 300;
		font-size: map-get($map,s);
		color: #000;
		text-align: center;
	}
	.nosotrosBox{
	 	display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 3.5rem;
}

    .nosotrosBoxTextos{
    	display: flex;
    	 justify-content: center;
    	align-items: center;
   		margin-left: 20rem;
   		margin-right: 20rem;

    }
 
	.textos{
		font-family: 'Oswald', sans-serif; 
		font-weight: 300;
		font-size: map-get($map,s);
		color: #000;
		@media all and (max-width: $point-md){
    	font-size: 1rem;
    	}
	}
	.titulos{
		font-weight: bold;
		font-size: 1.6rem;
		font-family: 'Oswald', sans-serif;
		color: #000;
		text-align: center;
	}
	.titulosSucursales{
		font-weight: bold;
		font-size: 1.7rem;
		font-family: 'Oswald', sans-serif;
		color: #000;
		text-align: center;
		margin: 4rem 1.5rem 4rem 1.5rem;
		transition: width 2s, height 2s, transform 2s;
		@media all and (max-width: $point-md){
    	font-size: map-get($map,m);
    	top: 60%;
    	}
	}
	.sucursales{
		@include flex-column-center
		flex-wrap: wrap;
	}
	.formulario{
		margin-top: 2rem;
		display: flex;
    	 justify-content: center;
    	align-items: center;
   		
	}
 footer{
 	background-color: $mainColor;
	background-position: bottom;
	margin-top: 3rem;
	.redes{
		list-style: none;
		text-align: left;	
		li{
			display: inline-block;
			margin: 0.8rem;
		}	
		a{
			text-decoration: none;
 		font-family:'Oswald', sans-serif;
		color: $header-footer-color;
		}
	}

 }