@import "variables";
*{
	margin: 0;
	padding: 0;
}
header {
	 font-family: 'Oswald', sans-serif;
 	 font-size: 1.3rem;
 	 color: #FFF ;
 	 text-decoration: none; 
	a{  
		text-decoration: none; 
		padding: 1rem;
		font-size: 1rem;
			@media all and (max-width: $point-md){ 
			display: flex;
			flex-direction: column;
	  	}
	}
}
/*empieza INDEX*/
.rectanguloIndex{
	height: 675px;
	width: 25%;
	background: $paleta1;
	position: absolute;	
	@media all and (max-width: $point-md){ 
		height: 200px;
	}
}
.estiloImagen{
	width: 75%;
	@media all and (max-width: $point-md){ 
		width: 300px;
		height: 200.1px;
		margin-right: 3rem;
	}
}
.textIndex1{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 48rem;
  	@media all and (max-width: $point-md){ 
  		margin-top: 3rem;
  	}
  }
.textIndex2{
	font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 5rem;
  }
.textIndex{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color:  $paleta2;
  text-align: center;
 	margin-top: 2rem;
  margin-right: 7rem;
  margin-left: 7rem;
  	@media all and (max-width: $point-md){ 
  		font-size: 1rem;
  	}
}
.textIndex3{
	font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: $paleta2;
  text-align: center;
  }
.textos{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 1rem;
	color: #000;
}
.textos2{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 4rem;
	color: #000;
}
.containerIndex{
  margin-left: 7rem;
  margin-top: 4rem;
 }
.platosIndex {
  padding-left: 0rem !important;
  padding-bottom: 1rem;
}
.estiloImagenesGrid{
 width: 23rem;
 height: 16rem;
 		&:hover{
 	 			transform: scale(1.1);
 		}
}
.estiloImagenesGrid2{
 width: 10rem;
 height: 10rem;
}
/*Termina index*/
/*Empieza CONTACTO*/
.rectangulo {
	height: 15rem;
	width: 60%;
	background: $paleta1;
	position: absolute;
	}
.formulario{
	position: relative;
	width: 50%;
	margin-top: 3rem;
	margin-left: 2rem;
		input{
			background-color: #9cb35aa8!important;
	}
		label{
			display: block;
   		margin-bottom: 0.5rem;
    	margin-top: 0.5rem;
		}
		textarea{
			background-color: #9cb35aa8 !important;
		}
		button{
			margin-top: 0.5rem;
			border-radius: 20px !important;
		}
		@media all and (max-width: $point-md){
			width: 80%;
		}
}
.tituloContacto{
	font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 18rem;
  margin-left: 2rem;
  position: static;
  	@media all and (max-width: $point-md){
  		font-size: 0.9rem;
    	padding-top: 1rem;
    	position: static;
  	}
}
.rectanguloContacto{
	margin-top: 8rem;
  width: 100%;
  height: 300px;
  background-color: $paleta1;
  &:hover{
  	transform: scale(1.1);
  }
}
.rectanguloContacto img{
	display: block;
	width: 80px;
	height: 80px;
	margin: auto;
}
.textoContacto{
	font-family: 'Zeyada', cursive; 
	font-weight: 300;
	font-size: 3.2rem;
	color: #000;
	padding-top: 1rem;
	text-align: center;
		@media all and (max-width: $point-md){
			font-size: 2rem;
  }
}
.textoContacto2{
	font-family: 'Oswald', sans-serif; 
	font-weight: 300;
	font-size: 2rem;
	color: #000;
	margin-top: 3rem;
	text-align: center;
}
.containerContacto{
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  	@media all and (max-width: $point-md){
  		flex-direction: column;
	  }
}
/*Termina contacto*/
/*Empieza sucursales*/
.tituloSucursales{
	font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #FFF;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 5.5rem;
  margin-left: 4rem;
  position: absolute;
}
.imagenPortadaSucursales{
	width: 40%;
}
.tituloSucursales2{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 20rem;
  animation-duration: 3s;
  animation-name: slidein;
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
}
 .textSucursales{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  padding: 1rem;
  @media all and (max-width: $point-md){ 
  	font-size: 0.8rem;
	  text-align: left;
	  padding: 0.2rem;
	  text-align: center;
	  }
 }
.rectanguloSucursales{
  background-color: $paleta3;
	height: 4rem;
	width: 100%;
	margin-top: 3rem;
}
.estilosIframes{
 	margin-left: 13rem;
 	@media all and (max-width: $point-md){ 
 		margin-left: 1rem;
   }
}
.containerSucursales{
    display: flex;
    flex-direction: column;
  }
.triangulo{
  	 width: 0;
     height: 0;
     border-right: 200px solid  $paleta1;
     border-top: 200px solid transparent;
     border-left: 200px solid transparent;
     border-bottom: 200px solid  $paleta1;
     margin-top: 3rem;  
     @media all and (max-width: $point-md){
	     	border-right: 100px solid  #CDACA2;
	     border-top: 100px solid transparent;
	     border-left: 100px solid transparent;
	     border-bottom: 100px solid  #CDACA2;
			}
 }
/*Termina sucursales*/
/*Empieza nosotros*/
.textNosotros1{
	font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-top: 20rem;
  margin-left: 20rem;
  @media all and (max-width: $point-md){
  	margin-left: 0rem;
  	text-align: center;
  	}
}
.tituloNosotros{
	margin-left: 22rem;
	font-family: 'Zeyada', cursive;
	font-size: 4rem;
		@media all and (max-width: $point-md){
			margin-left: 0rem;
  		text-align: center;
		}
}
.textNosotros{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  $paleta2;
  text-align: center;
  margin-left: 2rem;
  margin-right: 30rem;
  padding-top: 1rem;
  	@media all and (max-width: $point-md){
			text-align: center;
		  margin-left: 2rem;
		  margin-right: 1rem;
		  padding-top: 1rem;
    }
}
.textNosotros2{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  text-align: left;
 	margin-top: 9rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-left: 4rem;
}
.containerNosotros{
  display: flex;
  flex-direction: row;
  	@media all and (max-width: $point-md){
  			flex-direction: column;
  		}
}
.imagenNosotros{
  	padding-left: 4rem;
  	margin-top: 5rem;
  	transition: 1s;
 		&:hover{
		 	transform: rotate(360deg);
 			 }
  @keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
  }  
.recuadroNosotros{
 	border: 7px solid $paleta2;
 	width: 70%;
 	height: 14rem;
 	margin-top: 6rem;
 	margin-right: 15%;
 	margin-left: 15%;
 		@media all and (max-width: $point-md){
 			 display: none!important;
    }
 }
.textoRecuadro{
 	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  padding: 2rem;
  text-align: center;
 }
iframe{
 	margin-top: 3rem;
 }
/*Termina nosotros*/
/*Empieza carta*/
.tituloCarta1{
	font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color:  #000;
  letter-spacing: 0.15rem;
  margin-top: 20rem;
  margin-left: 3rem; 
}
.tituloCarta2{
	font-family: 'Zeyada', cursive;
  font-size: 5rem;
  color:  #000;
  letter-spacing: 0.15rem;
  margin-left: 5rem;  
}
.ensalada1{
	width: 150px;
	height: 162px;
}
.ensaladaTitulo{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: $paleta3;
  letter-spacing: 0.15rem;
}
.ocultar{}
.ingredientes{
	font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: #000;
}
/*Termina carta*/
/*Empieza footer*/
footer{
	background-color: $paleta3;
	height: 13rem;
	width: 100%;
	display: inline-block;
	  h1{
				font-family: 'Oswald', sans-serif;
			  font-size: 1.7rem;
			  color: #000;
			  letter-spacing: 0.15rem;
			  text-align: left;
			  margin-top: 6rem;
			  margin-left: 5rem;
			  position: absolute;
			}
	 h2{
				font-family:'Oswald', sans-serif;
				color: #000;
				font-size: 1.2rem;
				text-align: right;
				margin-right: 8rem;
			}
	.redes{
				list-style: none;
				text-align: right;
				color: #FFF;
				font-size: 1.2rem;
					li{
							display: inline-block;
							margin: 0.8rem;
								a{
									 	text-decoration: none;
									 	font-family:'Oswald', sans-serif;
									  color: #FFF;
									}
						}
				}
		img{
			width: 135px;
			height: 89.7px;
			margin-top: 2rem;
		}
}
.footerMargin{
	margin-top: 10rem;
}
.footerMarginContacto{
	margin-top: 33rem;
}
@media all and (max-width: $point-md){
	
		.ocultar{
  			display: none !important;
						}
		h1{
    font-size: 0.5rem;
  }
  .tituloContacto{
    font-size: 0.9rem;
    padding-top: 1rem;
    position: static;

  }
  .tituloSucursales{
    text-align: left;
    margin-left: 1rem;
    font-size: 1.9rem;
  }
	}
 